$black: #0A0A0A;
$black-2: #0D0D0D;
$black-3: #333333;
$black-4: #1A1A1A;
$dark-grey-1: #1B1B1B;
$dark-grey-2: #666666;
$light-grey-1: #CCCCCC;
$light-grey-1-transparent: rgba(204, 204, 204, 0.5);
$light-grey-2: #EEEEEE;
$light-grey-3: #999999;
$light-grey-4: #C9C9C9;
$white: #FFFFFF;
$blue: #3548FE;
$light-blue: #828FFA;
$light-blue-2: #BEC6FF;
$light-blue-3: #E4E7FC;
$green: #ABE76E;
$light-green: #EDF9E0;
$red: #FF5E5E;
$main-gradient: linear-gradient(180deg, #7581EC 0%, #7581EC 67.11%);
